@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.font-big {
  font-family: var(--font-bebas-neue);
}

.font-small {
  font-family: var(--font-inter-tight);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-bebas-neue);
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
}

::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 2;
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='black'%3E%3Cpath d='M21.41 11.58l-9-9C12.05 2.22 11.55 2 11 2H4c-1.1 0-2 .9-2 2v7c0 .55.22 1.05.59 1.42l9 9c.36.36.86.58 1.41.58s1.05-.22 1.41-.59l7-7c.37-.36.59-.86.59-1.41 0-.55-.23-1.06-.59-1.42zM5.5 7C4.67 7 4 6.33 4 5.5S4.67 4 5.5 4 7 4.67 7 5.5 6.33 7 5.5 7z'/%3E%3C/svg%3E");
  mask-size: 0% 0%;
  mask-position: center;
  mask-repeat: no-repeat;
  animation: mask-reveal 1.5s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

@keyframes mask-reveal {
  0%{
    mask-size: 0% 0%;
    mask-position: bottom;
  }
  50%{
    mask-size: 30% 30%;
  }
  100%{
    mask-size: 400% 400%;
  }
}